/* [project]/src/styles/globalStyle.css [app-client] (css) */
button {
  height: 40px;
  font-size: 14px;
  font-weight: 600;
}

button > a {
  color: #333;
  padding: 10px;
  text-decoration: none;
}

.editor-container {
  border: 3px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar button {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 10px;
}

.editable-area {
  color: #fff;
  border: 3px solid #eee;
  outline: none;
  min-height: 100px;
  padding: 10px;
}

.editable-area b {
  font-weight: 600;
}

.editable-area i {
  font-style: italic;
}

.editable-area:focus {
  border-color: #007bff;
}

.input h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
}

.input h3 > span {
  color: red;
}

.input input, .input textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 98%;
  padding: 5px 10px;
  font-size: 16px;
}

.input textarea {
  min-height: 150px;
}

.file-photo {
  cursor: pointer;
  border-radius: 5px;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  padding: 10px 0;
  display: flex;
}

.file-photo > label {
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
}

.file-photo > input {
  display: none;
}

.file-photo > img {
  -o-object-fit: cover;
  object-fit: cover;
  width: auto;
  max-width: 400px;
  height: auto;
}

.layout {
  background-color: #fff;
  grid-template-columns: 310px 1fr;
  min-height: 100vh;
  display: grid;
}

.layout > .left-menu {
  background-color: #333;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  margin: 10px 0 10px 10px;
  padding: 20px;
  display: flex;
}

.layout > .left-menu > button {
  cursor: pointer;
  width: 100%;
}

.layout > .left-menu > .nav-bar {
  flex-direction: column;
  gap: 5px;
  width: 250px;
  padding-top: 100px;
  display: flex;
}

.layout > .left-menu > .nav-bar > li {
  cursor: pointer;
  background-color: #fff;
  border-left: 3px solid #fff;
  transition: all .1s ease-in;
}

.layout > .left-menu > .nav-bar > li > a {
  color: #333;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

.layout > .left-menu > .nav-bar > .active-link {
  border-left: 5px solid #00a015;
}

.login {
  z-index: 1000;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.login > .login-content {
  background-color: #333;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: 300px;
  display: flex;
}

.login > .login-content button {
  color: #fff;
  cursor: pointer;
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all .1s ease-in-out;
}

.login > .login-content button:hover {
  background-color: #03c;
}

.login > .login-content > h1 {
  color: #fff;
  font-size: 24px;
}

.login > .login-content > div {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.components {
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 0;
  display: flex;
}

.news {
  width: 100%;
  height: 100%;
}

.news > main {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.news > main > .news-content {
  background-color: #333;
  border-radius: 10px;
  padding: 10px 20px;
}

.news > main > .news-content > .section-table {
  color: #fff;
  flex-direction: column;
  min-height: 100px;
  display: flex;
}

.news > main > .news-content > .section-table > .section-table-header {
  gap: 10px;
  margin: 0 10px;
  display: grid;
}

.news > main > .news-content > .section-table > .section-table-header > div {
  border-bottom: 2px solid;
  padding: 10px;
  font-size: 20px;
}

.news > main > .news-content > .section-table > .section-table-content {
  display: grid;
}

.news > main > .news-content > .section-table > .section-table-content > div {
  gap: 10px;
  padding: 10px;
  font-size: 18px;
  display: grid;
}

.news > main > .news-content > .section-table > .section-table-content > div > div {
  border-bottom: 2px solid #fff;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  display: flex;
}

.news > main > .news-content > .section-table > .section-table-content > div > div > button {
  cursor: pointer;
  padding: 10px 0;
}

.news > main > .news-content > .section-table > .section-table-content > div > div > p {
  font-size: 16px;
}

.components-header {
  background-color: #333;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  display: flex;
}

.components-header > h1 {
  color: #fff;
  font-size: 24px;
}

.adding {
  background-color: #333;
  border-radius: 8px;
  justify-content: start;
  align-items: start;
  padding: 40px 20px 20px;
  display: flex;
}

.adding > .adding-content, .adding > .adding-content > .main-form {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  display: flex;
}

.adding > .adding-content > .main-form .adding-header {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.adding > .adding-content > .main-form .adding-header > h1 {
  color: #fff;
  font-size: 24px;
}

.adding > .adding-content > .main-form > .adding-form {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.adding > .adding-content > .adding-form-content > .adding-form-item {
  margin: 20px 0;
}

.adding > .adding-content > .adding-form-content > .adding-form-item > div {
  grid-template-columns: 1fr 50px;
  display: grid;
}

.adding > .adding-content > .adding-form-content > .adding-form-item > div > button {
  cursor: pointer;
  color: red;
  border-radius: 20px;
  width: 50px;
  height: 26px;
  margin: 10px 0;
  font-weight: 900;
}

/*# sourceMappingURL=src_styles_globalStyle_css_f9ee138c._.single.css.map*/